
<a routerLink=''>Back</a>


<!-- <div class="total" *ngFor= 'let item of results'>

    <div class="total__count">

    Total Results:{{item.total_results}}
    </div>
 </div> -->

 <p *ngIf="results">Total Results: {{results.total_results}}</p>

<div class="results">
  <ul *ngIf="results" class="results__list">
   
    <a [routerLink]="['/details']">
        <li *ngFor= 'let item of results.results' key={item.id} class="results__items">
          <img
            src= "https://www.themoviedb.org/t/p//w1280/{{item.backdrop_path}}"
            alt=""
            class="results__image"
          />

          <div class="results__facts">
            <h3 class="results__title"> {{item.title}}</h3>
            <p class="results__releasedate">{{item.date}} </p>
            <p class="results__overview">{{item.overview}}</p>
         
          </div>
        </li>
      </a>
     
 
  </ul>
</div>




