
.searchResults{
  display: flex;
 
}
.filter{
  flex: 2;
  padding: 20px 0 0 20px;
}

.results {

    flex: 6;

    display: block;
    padding: 16px;
  
    
  
    &__items {
      display: flex;
      align-items: center;
      gap: 10px;
      /* background-color: aquamarine; */
      margin-bottom: 16px;
      border-radius: 10px;
      padding: 4px;
      /* -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68); */
      box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.68);
      cursor: pointer;
    }
  
    &__image {
      padding: 4px;
      /* background-color: rgb(88, 118, 254); */
      /* border: 2px solid rgb(246, 192, 192); */
      /* border-color: rgb(135, 135, 135); */
      border-radius: 10px;
      width: 100px;
      height: 150px;
      object-fit: cover;
    }
  
    &__title {
      color: black;
      margin-bottom: 1em;
    }
  
    &__releasedate {
      margin-bottom: 1em;
      color: black;
    }
    &__overview {
      color: black;
    }
  }

  a{
    text-decoration: none;
  }