
<a routerLink=''>Back</a>


<!-- <div class="total" *ngFor= 'let item of results'>

    <div class="total__count">

    Total Results:{{item.total_results}}
    </div>
 </div> -->

 <p *ngIf="movieResults">Total Results: {{movieResults.total_results}}</p>


 

 <div class="searchResults">

  <div class="filter">

    <div class="searchType">

      <div class="searchType__title">Search Results</div>
      <ul class="searchType__list">
         <li [ngClass]='{searchType__item : activeButton === searchType.movie , searchType__inactive : activeButton !== searchType.movie}'  (click)="results(searchType.movie)">Movies</li>
          <li [ngClass]='{searchType__item : activeButton === searchType.tvshow , searchType__inactive : activeButton !== searchType.tvshow}' (click)="results(searchType.tvshow )"  >Tv Show</li>
          <li [ngClass]='{searchType__item : activeButton === searchType.person , searchType__inactive : activeButton !== searchType.person}' (click)="results(searchType.person )"  >Person</li>
      </ul>
    
    
    
    </div>
  </div>
   <div class="results">

    <div *ngIf="activeButton === searchType.tvshow">

      <li *ngFor= 'let item of tvResults .results' key={item.id} class="results__items">
        <img
          src= "https://www.themoviedb.org/t/p//w1280/{{item.backdrop_path}}"
          alt=""
          class="results__image"
        />
    
        <div class="results__facts">
          <h3 class="results__title"> {{item.name}}</h3>
          <p class="results__releasedate">{{item.first_air_date}} </p>
          <p class="results__overview">{{item.overview}}</p>
       
        </div>
      </li>
    
     </div>
    <div *ngIf="activeButton === searchType.movie">

      <li *ngFor= 'let item of movieResults.results' key={item.id} class="results__items">
        <img
          src= "https://www.themoviedb.org/t/p//w1280/{{item.backdrop_path}}"
          alt=""
          class="results__image"
        />
    
        <div class="results__facts">
          <h3 class="results__title"> {{item.title}}</h3>
          <p class="results__releasedate">{{item.release_date}} </p>
          <p class="results__overview">{{item.overview}}</p>
       
        </div>
      </li>
    
     </div>
    <div *ngIf="activeButton === searchType.person">

      <li *ngFor= 'let item of personResults.results' key={item.id} class="results__items">
        <img
          src= "https://www.themoviedb.org/t/p//w1280/{{item.profile_path}}"
          alt=""
          class="results__image"
        />
    
        <div class="results__facts">
          <h3 class="results__title"> {{item.name}}</h3>
          <p class="results__releasedate">{{item.date}} </p>
          <p class="results__overview">{{item.known_for_department}}</p>
       
        </div>
      </li>
    
     </div>



     <!-- <ul *ngIf="movieResults" class="results__list">
      
       <a [routerLink]="['/details']">
           <li *ngFor= 'let item of movieResults.results' key={item.id} class="results__items">
             <img
               src= "https://www.themoviedb.org/t/p//w1280/{{item.backdrop_path}}"
               alt=""
               class="results__image"
             />
   
             <div class="results__facts">
               <h3 class="results__title"> {{item.title}}</h3>
               <p class="results__releasedate">{{item.date}} </p>
               <p class="results__overview">{{item.overview}}</p>
            
             </div>
           </li>
         </a>
        
    
     </ul>
   </div> -->
 </div>


 








