<footer class="footer">
    <div class="footer__content">
      <div class="footer__leftsection">
        <p class="footer__title">MovieQuestDB</p>
    
          <button class="footer__button">
            Hi 
          </button>
    
          <button class="footer__button">Hi User!</button>
  
      </div>
  
      <div class="footer__links">
        <div class="footer__list">
          <h2 class="footer__itemsheading">RESOURCES</h2>
          <ul>
            <li>
              <p class="footer__items">Home</p>
            </li>
  
            <li>
              <p class="footer__items">About us</p>
            </li>
          </ul>
        </div>
        <div class="footer__list">
          <h2 class="footer__itemsheading">FOLLOW US</h2>
          <ul>
            <li>
              <p class="footer__items">Git Hub</p>
            </li>
  
            <li>
              <p class="footer__items">Discord</p>
            </li>
          </ul>
        </div>
        <div class="footer__list">
          <h2 class="footer__itemsheading">LEGAL</h2>
          <ul>
            <li>
              <p class="footer__items">Privacy</p>
            </li>
  
            <li>
              <p class="footer__items">Terms and Conditions</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <hr class="footer__hr" />
      <span class="footer__copyrightlink">
        2024
        <a
          href="https://www.wikipedia.org/"
        >
          Wikipedia
        </a>
        .All Rights Reserved
      </span>
  
      <hr class="footer__hr" />
    </div>
  </footer>
