
    <p class="todoList">My To-do List</p>
        <form class="form">
          <input [(ngModel)]="inputText" placeholder="Enter Todo Item" name="first" type="text" />
          <button class="form__primary" (click)="displayText()">Add</button>
        </form>
        <div *ngIf="todoList.length > 0">
          <ul>
           
              <li class="displayText" *ngFor = 'let todoItem of todoList ; let i = index'>
                <input type="checkbox" class="displayText__text"  [checked]="todoItem.checked" (click)="onCheck(i)"  />
                <!-- <p [ngClass]= "todoItem.checked ?  'displayText__checked' : 'displayText__text' "  >{{ todoItem.displayedText }}</p> -->
                <p [ngClass]="{displayText__checked : todoItem.checked, displayText__text : !todoItem.checked}" >{{ todoItem.displayedText }}</p>
                <button class="displayText__delete" (click)="deleteText(i)">Delete</button> 
              </li>
     
          </ul>
        </div>


        <button (click)="clickme()">Click me</button>
        <!-- <input type="text"   (eventEmitter) = '$event' (click)="$event.target.select()" /> -->



    
    
     





        





         
  
  

