

  .form{
    display: flex;
    align-items: center;
    margin: 20px;

    &__primary{
      display: flex;
      justify-content: space-around;
      background-color: midnightblue;
      color: aliceblue;
      padding: 10px;
      border: solid 1px;
      border-radius: 8px;

    }
  }
  input[type="text"] {
    border: solid 1px midnightblue;
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
  }
  button {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: midnightblue;
    border-radius: 8px;
  }
//   @media (min-width: 500px) and (max-width: 768px) {
//     .primary {
//         grid-template-columns: repeat(2, 1fr);
//     }
//     input[type="text"] {
//         width: 70%;
//     }   
//   }
//   @media (max-width: 499px) {
//     .primary {
//         grid-template-columns: 1fr;
//     }    
//   }